.footer {
    background: #000000;
}

.footer__container {
    @include desktop;
    padding: 70px 14vw;
    text-align: center;

    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FEFEFE;
        margin-bottom: 22px;
    }

    &-icons {
        display: flex;
        justify-content: center;
        padding: 35px 0;
        gap: 6px;

    }

    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #B9B9B9;
    }

    &-contacts {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #B9B9B9;
    }

    a {
        text-decoration: none;
        color: #B9B9B9;
    }
}

@media screen and (max-width:940px) {
    .footer__container {
        @include tablet;
        padding: 57px 0;

    }
}

@media screen and (max-width:373px) {
    .footer__container {
        @include mobile;
        padding: 38px 15px 47px 15px;

        &-title {
            font-size: $base-font-size;
        }

        &-text {
            font-size: 12px;
            line-height: 20px;
        }

        &-contacts {
            font-size: $base-font-size;
            line-height: 24px;
        }
    }
}