  .header {
      @include desktop;
      margin-top: 45px;
      margin-bottom: 51px;

      @media screen and (max-width:940px) {
          @include tablet;
          margin-top: 41px;
          margin-bottom: 43px;
      }

      @media screen and (max-width:768px) {
          position: relative;
          margin-top: 23px;
          margin-bottom: 23px;
      }

      @media screen and (max-width: 373px) {
          @include mobile;
          margin-top: 23px;
          margin-bottom: 23px;
      }

  }

  .header__menu {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      li {
          list-style: none;

          a:hover {
              color: $hover-color
          }
      }

      &_element {
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 22px;
          text-transform: uppercase;
          color: $text-color;
          text-decoration: none;
      }

      &.open {
          display: block;
      }
  }

  .header__menu-burger {

      display: none;
      justify-content: flex-end;
      cursor: pointer;

      &_btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 44px;
          height: 37px;
          background-color: black;


          &.active span {

              &:nth-child(1) {
                  transform: rotate(45deg) translate(4px, 2px);
              }

              &:nth-child(2) {
                  opacity: 0;
              }

              &:nth-child(3) {
                  transform: rotate(-45deg) translate(4px, -1px);
              }
          }

      }

      & span {
          display: block;
          width: 17px;
          height: 2px;
          margin-bottom: 2px;
          background-color: white;
      }
  }

  @media screen and (max-width:768px) {

      .header__menu-burger {
          display: flex;
      }

      .header__menu {
          display: none;
          position: absolute;
          top: 37px;
          right: 0;
          width: 182px;
          height: auto;
          box-sizing: border-box;
          line-height: 22px;
          background: #F5F5F5;

          &_element {
              display: block;
              padding: 5px 12px;

              &:hover {
                  background-color: #E5E5E5;
              }
          }
      }
  }