.image {
    @include desktop;

    img {
        width: 100%;
    }

    @media screen and (max-width:940px) {
        @include tablet;
    }

    @media screen and (max-width: 373px) {
        @include mobile;
    }
}