.instagram {
    background: rgba(#000000, 0.03);

}

.instagram__text {
    @include desktop;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 22px;

    p {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $text-color;
    }

    a {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-color;
    }
}

.instagram__photo {
    @include desktop;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 49px;

    img {
        width: 100%;
    }

}

@media screen and (max-width: 940px) {

    .instagram__text {
        @include tablet;
    }

    .instagram__photo {
        @include tablet;
        display: flex;
        gap: 10px;

        &-item {
            width: 100%;
        }

        :nth-child(4) {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .instagram__text {


        :nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width: 373px) {
    .instagram {
        background: none;
    }

    .instagram__text {
        @include mobile;
        display: block;
        padding-top: 0px;
        padding-bottom: 22px;

        :nth-child(2) {
            display: none;
        }
    }

    .instagram__photo {
        @include mobile;
        display: block;
        padding-bottom: 42px;

        :nth-child(1) {
            width: 100%;
        }

        :nth-child(2) {
            display: none;
        }

        :nth-child(3) {
            display: none;
        }

        :nth-child(4) {
            display: none;
        }
    }
}