body {
    font-family: $body-font-family;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin desktop {
    width: auto;
    height: auto;
    margin: 0 13.5%;
}

@mixin tablet {
    width: auto;
    height: auto;
    margin: 0 8.51%;
}

@mixin mobile {
    width: auto;
    height: auto;
    margin: 0 6.7%;
}