.posts {
    @include desktop;
    padding: 4.33% 0;

    h2 {

        margin-bottom: 24px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: $text-color;
    }
}

.posts__block-wrapper {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts__block {

    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    flex-grow: 1;

    & div {
        width: 300px;
        flex-grow: 1;


    }

    &-image {
        width: auto;
        height: min-content;
    }

    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: $text-color
    }

    &-description {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
    }

    &-text {
        font-style: normal;
        font-weight: 400;
        font-size: $base-font-size;
        line-height: 26px;
        color: #5C5C5C;
    }
}

@media screen and (max-width: 1362px) {

    .posts__block:nth-child(2) {
        order: 1;
    }

    .posts__block:nth-child(4) {
        order: 1;
    }
}

@media screen and (max-width: 940px) {
    .posts {
        @include tablet;

        h2 {
            margin-top: 66px;
            margin-bottom: 24px;
        }
    }

    .posts__block-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 33px;

    }



}

@media screen and (max-width: 373px) {
    .posts {
        @include mobile;

        h2 {
            margin-top: 38px;
            margin-bottom: 23px;
            font-size: $base-font-size;
            line-height: 22px;
        }
    }

    .posts__block-wrapper {

        display: flex;
        gap: 26px;

        :nth-child(4) {
            display: none;
        }
    }

    .posts__block {
        &:nth-child(2) {
            order: 1;
        }

        display: flex;
        min-width: 0px;

        &-title {
            font-size: $base-font-size;

        }

        &-description {
            font-size: 11px;
        }

        &-text {
            display: none;
        }
    }
}