.fork__editor {
    @include container;
    width: 100%;
    border: 1px solid green;
    padding-top: 35px;

    &>h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #848E97;
        margin-bottom: 71.5px;
    }

    &>h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #635C73;
        margin-bottom: 27px;
    }

    &>p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #323232;
        margin: 0 8px;
    }
}

.fork__button--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
    padding-top: 36px;
    padding-bottom: 120px;
}

.fork__button {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(192, 192, 192);
    background: none;
    border-radius: 4px;
    padding: 0;
    height: 26px;
    width: 116px;

    &>div:nth-child(1) {
        border-radius: 3px 0 0 3px;
    }

    &>div:nth-child(1),
    &>div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(218, 218, 218);
        width: 100%;
        height: 100%;
    }

    &>div:nth-child(2),
    &>div:nth-child(3) {
        font-size: 10px;
    }

}