.header {
    position: relative;
    @include container;
    box-sizing: border-box;
    width: 100%;
    height: 718px;
    background-image: url(/dist/img/header/img1.png);
    background-position: center;

    & nav {
        position: absolute;
        left: 0;
        width: 100%;
        background: #27262A;
    }

    &__wrapper {
        position: absolute;
        bottom: -19px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 16px;

    &-logo {
        width: auto;
    }

    &-button {
        padding: 11px 24px;
        background: #8D81AC;
        border-radius: 40px;
        border-style: none;
        cursor: pointer;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;


    }

    &-burger-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 26px;
        height: 21px;

        &.active {
            position: relative;

            span {

                &:nth-child(1) {
                    display: none;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 9px;
                    left: 0;
                    transform: rotate(45deg);
                    transition: 0.3s;
                }

                &:nth-child(3) {
                    position: absolute;
                    top: 9px;
                    left: 0;
                    transform: rotate(-45deg);
                    transition: 0.3s;
                }
            }
        }

        span {
            display: block;
            height: 3px;
            background: #FFFFFF;
            border-radius: 5px;

            &:nth-child(1) {
                width: 15px;
                margin-left: auto;
            }

            &:nth-child(2) {
                width: 26px;
            }

            &:nth-child(3) {
                width: 26px;
            }
        }
    }
}

.header__drop-menu {

    &.open {
        display: block;
    }

    display: none;
    margin: 0 auto;
    background: #323135;
    width: 293px;
    height: 378px;

    &--item {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 293px;
        height: 89px;
        text-decoration: none;
        border-bottom: 2px solid rgb(99, 94, 94);

        &:hover .header__drop-menu--element {
            opacity: 1;
        }

        &:hover .header__drop-menu--text {
            color: #8D81AC;
        }
    }

    &--element {
        opacity: 0;
        margin-right: 29px;
        width: 8px;
        height: 53px;
        background: #8D81AC;
    }

    &--text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 26px;
        color: white;
    }

}

.header__text {
    padding-top: 159px;
    text-align: center;

    & h1 {
        margin-bottom: 19px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
    }

    & p:nth-child(2) {
        margin-bottom: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #8D81AC;
    }

    & p:nth-child(3) {
        margin-bottom: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #848E97;
        text-transform: uppercase;
    }
}