@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');


* {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

@import './reset';
@import './mixins';
@import './variables';
@import './header';
@import './fork-editor'