@import "_variables";
@import "_mixins";

.promise {
  margin: 0 auto;
  text-align: center;
  padding-top: 7.5rem;
  overflow: hidden;

  @media (min-width: 993px) {
    position: relative;
    background: #f4f4f4;
    padding-top: 0;
    margin-top: 4.375rem;
  }

  &__title {

    @include font-size(2rem, 2.375rem, 700, $hat);
    margin: 0 2rem;

    @media (min-width: 481px) {
      @include font-size(2.625rem, 2.75rem, 700, $hat);
    }

    @media (min-width: 993px) {

      position: absolute;
      top: 70px;
      right: 20px;
      transition: 0.5s;
    }

    @media (min-width: 1200px) {
      min-width: 30%;
      position: absolute;
      top: 116px;
      right: 20px;
      transition: 0.5s;
    }



    @include font-size(2rem, 2.375rem, 700, $hat);
    font-family: $montserrat-font;
    font-style: normal;
    padding-bottom: 2rem;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    @media (min-width: 993px) {
      padding-top: 100px;
      flex-wrap: nowrap;
    }

  }


  &__content-box {
    width: 100%;
    column-gap: 1.4375rem;
    row-gap: 1.4375rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.825rem 0;


    @media (min-width: 481px) {
      flex-wrap: nowrap;
      padding: 0 2rem;
      width: 100%;
    }



    &_image {
      width: 100%;

      @media (min-width: 481px) {
        margin-top: 2rem;
        margin-bottom: 1.7rem;
        max-width: 8rem;
      }

      @media (min-width: 993px) {
        flex-direction: row;
        width: 50%;

      }
    }

    &_title {
      @include font-size(1rem, 1rem, 400, $dark);
      font-family: $montserrat-font;
      text-align: center;
      width: 100%;


      @media (min-width: 481px) {
        display: block;
        font-style: normal;
        text-align: left;
        margin-bottom: 0.875rem;
      }
    }

    &_text {

      @include font-size(0.875rem, 1.3125rem, 400, $dark-light);
      font-family: $lato-font;
      font-style: normal;
      text-align: center;
      width: 100%;

      @media (min-width: 481px) {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 1.7rem;
      }
    }
  }

  &__image {
    min-width: 50%;

    @media (min-width: 481px) {
      width: 102%;
      padding-left: 75px;

      @media (min-width: 993px) {
        width: 102%;
        padding-top: 125px;

      }
    }
  }



  &__image img {
    width: 150%;
    transition: 1s;

    @media (min-width: 481px) {
      width: 105%;
    }

    @media (min-width: 993px) {
      width: 130%;
      scale: 115%;
    }
  }
}